.h1{
  font-size: rem(36);
  color: $w;
  margin: 0;
  margin-bottom: 5px;
}
.h2-large{
  font-size: rem(52);
  color: $w;
  margin: 0;
}

.tool-item{
  width: 270px;
  text-align: center;
  position: relative;
  &:before{
    content: "";
    display: inline-block;
    margin-bottom: 20px;
  }
  &.pen{
    &:before{
      @include sprite($pen);
    }
  }
  &.lay{
    &:before{
      @include sprite($lay);
    }
  }
  &.set{
    &:before{
      @include sprite($set);
    }
  }
  &.case{
    &:before{
      @include sprite($case);
    }
  }
  .tool-link{
    display: block;
    font-size: rem(22);
    color: #555555;
    font-weight: $sem-bold;
  }
  .caption{
    line-height: 24px;
    color: #8c8c8c;
    font-weight: $light;
    margin-top: 11px;
  }
}