footer {
  background-color: #191919;
  .marked {
    color: #00bff3 !important;
  }
  .marked-2 {
    color: #959595 !important;
  }
  .marked-3 {
    color: $cr !important;
  }
  .main-footer {
    padding-top: 78px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    .footer-col {
      width: 275px;
      .h4 {
        margin-bottom: 16px;
      }
      .f-title {
        position: relative;
        display: block;
        padding-bottom: 10px;
        color: $w;
        font-family: $font-title;
        font-size: rem(34);
        &:before {
          content: "";
          @include sprite($logo);
          display: inline-block;
          vertical-align: middle;
        }
      }
      p {
        @extend a;
      }
      a:not(.read-more) {
        color: #555555;
        line-height: 24px;

      }
      .list {
        &-item {
          border-bottom: 1px solid #252525;
          padding-bottom: 17px;
          margin-bottom: 13px;
          &:nth-last-child(1) {
            border: 0;
          }
          time {
            color: #363636;
            font-size: rem(12);
            display: block;
            padding-bottom: 3px;
          }
          .time-ago {
            @extend time;
            margin-top: 3px;
            padding-bottom: 0;
          }
          p {
            margin: 0;
          }
          a {

          }
          &:hover {
            a {
              color: $cr;
            }
            time {
              color: $w;
            }
          }
        }
      }
      .img-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 20px;
        &-el {
          display: block;
          width: 133px;
          height: 98px;
          overflow: hidden;
          margin-bottom: 10px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .footer-bottom {
    background-color: #111111;
    &-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 110px;
      .link-cop {
        display: flex;
        font-size: rem(13);
        li {
          color: #555555;
          margin-right: 10px;
          a {
            display: inline-block;
            border-right: 2px solid #2A2A2A;
            color: inherit;
            padding-right: 9px;
          }
          &:nth-last-child(1) {
            a {
              border-right: 0;
            }
          }
        }
      }
    }
  }
}