- var title = "Waxon";
header
    .inner-header.content
        a.logo(href="/")= title
        nav
            ul
             for val in ['Home', 'About Us', 'Portfolio', 'Features','Blog','Pricing','Shortcodes','Contact']
                 li
                   a(href="#")= val
        .buttons-box
            button.but.btn-cart
            button.but.btn-search
    .middle-header.content
        h1.h1 Unique and Modern Design
        h2.h2-large Portfolio PSD Template
        blockquote.slogan Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
        button.but.btn-push Get Started
    .main-slider
        a(href="#")
            img(src="img/tmp/slider-1.jpg")
        a(href="#")
            img(src="img/tmp/slider-1.jpg")
