doctype
html
    include head
    body
    include header
    .main-box
        .content.tools
            include tool-1
            include tool-2
            include tool-3
            include tool-4
    .main-box.section
        .content
            h2.h2 Waxom is Realization of your Ideas.
            p.text Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
        .center-box.content
            img(src="/img/tmp/bg-1.jpg")
            img(src="/img/tmp/bg-2.jpg")
            img(src="/img/tmp/bg-3.jpg").img-layer
        .bottom-box
            .bottom-box-inner.content
                .left
                    a(href="#").link
                        span Waxom
                        | Multipurpose WordPress Theme

                    span.bot-text Don't Forget to Rate the Template. Thanks so much!
                a(href="").but.btn-push Purchase Now
    include tabs-section
















