doctype
html
    include head
    body
    include header
    .main-box
        .content.tools
            include tool-1
            include tool-2
            include tool-3
            include tool-4













