-var txt = "Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium."

.main-box.section
    .content
        h2.h2 Recent Posts.
        p.text=txt
    .content.slider-posts
        .slider-box-posts
            for img in ['/img/tmp/1.jpg', '/img/tmp/2.jpg', '/img/tmp/3.jpg','/img/tmp/1.jpg', '/img/tmp/2.jpg', '/img/tmp/3.jpg']
                .tabs-content-item.slider-post-item
                    a(href="#").img
                        img(src=img alt="")
                    .caption
                        a(href="#").descr-link Claritas Etiam Processus
                        span.descr-text Photography, Nature
        .buttons-arr-slick