-var txt = "Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium."

.main-box.section
    .content
        h2.h2 Recent Posts.
        p.text=txt
    .slider-box-posts.content
