.main-box.section
    .content
        h2.h2 Our Latest Projects.
        p.text Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.