.main-box.section
    .content
        h2.h2 Our Latest Projects.
        p.text Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
    .tabs-section.content
        ul.tabs-group
            for link in ['All', 'Web Design', 'Mobile App', 'llustration', 'Photography']
                li.tabs-item
                    a(href="#")=link
        .tabs-content
            for img in ['/img/tmp/1.jpg', '/img/tmp/2.jpg', '/img/tmp/3.jpg']
                .tabs-content-item
                    a(href="#").img
                        img(src=img alt="")
                    .caption
                        a(href="#").descr-link Claritas Etiam Processus
                        span.descr-text Photography, Nature
        .tabs-content
            for img in ['/img/tmp/1.jpg', '/img/tmp/2.jpg', '/img/tmp/3.jpg']
                .tabs-content-item
                    a(href="#").img
                        img(src=img alt="")
                    .caption
                        a(href="#").descr-link Claritas Etiam Processus
                        span.descr-text Photography, Nature