.main-box.section
    .content
        h2.h2 Our Latest Projects.
        p.text Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
    .tabs-section.content
        ul.tabs-group
            for link in ['All', 'Web Design', 'Mobile App', 'llustration', 'Photography']
                li.tabs-item
                    a(href="#")=link
        .tabs-content
            .tabs-content-item
                a(href="#").img
                    img(src="" alt="")
                .caption
                    a(href="#").descr-link
                    span.descr-text