// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arr-hov-name: 'arr-hov';
$arr-hov-x: 0px;
$arr-hov-y: 72px;
$arr-hov-offset-x: 0px;
$arr-hov-offset-y: -72px;
$arr-hov-width: 40px;
$arr-hov-height: 73px;
$arr-hov-total-width: 243px;
$arr-hov-total-height: 231px;
$arr-hov-image: 'sprite.png';
$arr-hov: (0px, 72px, 0px, -72px, 40px, 73px, 243px, 231px, 'sprite.png', 'arr-hov', );
$arr-list-name: 'arr-list';
$arr-list-x: 82px;
$arr-list-y: 122px;
$arr-list-offset-x: -82px;
$arr-list-offset-y: -122px;
$arr-list-width: 21px;
$arr-list-height: 21px;
$arr-list-total-width: 243px;
$arr-list-total-height: 231px;
$arr-list-image: 'sprite.png';
$arr-list: (82px, 122px, -82px, -122px, 21px, 21px, 243px, 231px, 'sprite.png', 'arr-list', );
$arr-sl-name: 'arr-sl';
$arr-sl-x: 41px;
$arr-sl-y: 72px;
$arr-sl-offset-x: -41px;
$arr-sl-offset-y: -72px;
$arr-sl-width: 40px;
$arr-sl-height: 73px;
$arr-sl-total-width: 243px;
$arr-sl-total-height: 231px;
$arr-sl-image: 'sprite.png';
$arr-sl: (41px, 72px, -41px, -72px, 40px, 73px, 243px, 231px, 'sprite.png', 'arr-sl', );
$arr-tv-name: 'arr-tv';
$arr-tv-x: 0px;
$arr-tv-y: 0px;
$arr-tv-offset-x: 0px;
$arr-tv-offset-y: 0px;
$arr-tv-width: 71px;
$arr-tv-height: 71px;
$arr-tv-total-width: 243px;
$arr-tv-total-height: 231px;
$arr-tv-image: 'sprite.png';
$arr-tv: (0px, 0px, 0px, 0px, 71px, 71px, 243px, 231px, 'sprite.png', 'arr-tv', );
$cart-name: 'cart';
$cart-x: 221px;
$cart-y: 146px;
$cart-offset-x: -221px;
$cart-offset-y: -146px;
$cart-width: 18px;
$cart-height: 25px;
$cart-total-width: 243px;
$cart-total-height: 231px;
$cart-image: 'sprite.png';
$cart: (221px, 146px, -221px, -146px, 18px, 25px, 243px, 231px, 'sprite.png', 'cart', );
$case-hov-name: 'case-hov';
$case-hov-x: 90px;
$case-hov-y: 146px;
$case-hov-offset-x: -90px;
$case-hov-offset-y: -146px;
$case-hov-width: 52px;
$case-hov-height: 36px;
$case-hov-total-width: 243px;
$case-hov-total-height: 231px;
$case-hov-image: 'sprite.png';
$case-hov: (90px, 146px, -90px, -146px, 52px, 36px, 243px, 231px, 'sprite.png', 'case-hov', );
$case-name: 'case';
$case-x: 143px;
$case-y: 146px;
$case-offset-x: -143px;
$case-offset-y: -146px;
$case-width: 52px;
$case-height: 36px;
$case-total-width: 243px;
$case-total-height: 231px;
$case-image: 'sprite.png';
$case: (143px, 146px, -143px, -146px, 52px, 36px, 243px, 231px, 'sprite.png', 'case', );
$coun-1-name: 'coun-1';
$coun-1-x: 0px;
$coun-1-y: 146px;
$coun-1-offset-x: 0px;
$coun-1-offset-y: -146px;
$coun-1-width: 44px;
$coun-1-height: 44px;
$coun-1-total-width: 243px;
$coun-1-total-height: 231px;
$coun-1-image: 'sprite.png';
$coun-1: (0px, 146px, 0px, -146px, 44px, 44px, 243px, 231px, 'sprite.png', 'coun-1', );
$coun-2-name: 'coun-2';
$coun-2-x: 189px;
$coun-2-y: 45px;
$coun-2-offset-x: -189px;
$coun-2-offset-y: -45px;
$coun-2-width: 48px;
$coun-2-height: 44px;
$coun-2-total-width: 243px;
$coun-2-total-height: 231px;
$coun-2-image: 'sprite.png';
$coun-2: (189px, 45px, -189px, -45px, 48px, 44px, 243px, 231px, 'sprite.png', 'coun-2', );
$coun-3-name: 'coun-3';
$coun-3-x: 139px;
$coun-3-y: 50px;
$coun-3-offset-x: -139px;
$coun-3-offset-y: -50px;
$coun-3-width: 44px;
$coun-3-height: 44px;
$coun-3-total-width: 243px;
$coun-3-total-height: 231px;
$coun-3-image: 'sprite.png';
$coun-3: (139px, 50px, -139px, -50px, 44px, 44px, 243px, 231px, 'sprite.png', 'coun-3', );
$coun-4-name: 'coun-4';
$coun-4-x: 189px;
$coun-4-y: 90px;
$coun-4-offset-x: -189px;
$coun-4-offset-y: -90px;
$coun-4-width: 45px;
$coun-4-height: 44px;
$coun-4-total-width: 243px;
$coun-4-total-height: 231px;
$coun-4-image: 'sprite.png';
$coun-4: (189px, 90px, -189px, -90px, 45px, 44px, 243px, 231px, 'sprite.png', 'coun-4', );
$coun-5-name: 'coun-5';
$coun-5-x: 189px;
$coun-5-y: 0px;
$coun-5-offset-x: -189px;
$coun-5-offset-y: 0px;
$coun-5-width: 54px;
$coun-5-height: 44px;
$coun-5-total-width: 243px;
$coun-5-total-height: 231px;
$coun-5-image: 'sprite.png';
$coun-5: (189px, 0px, -189px, 0px, 54px, 44px, 243px, 231px, 'sprite.png', 'coun-5', );
$lay-hov-name: 'lay-hov';
$lay-hov-x: 45px;
$lay-hov-y: 191px;
$lay-hov-offset-x: -45px;
$lay-hov-offset-y: -191px;
$lay-hov-width: 44px;
$lay-hov-height: 40px;
$lay-hov-total-width: 243px;
$lay-hov-total-height: 231px;
$lay-hov-image: 'sprite.png';
$lay-hov: (45px, 191px, -45px, -191px, 44px, 40px, 243px, 231px, 'sprite.png', 'lay-hov', );
$lay-name: 'lay';
$lay-x: 0px;
$lay-y: 191px;
$lay-offset-x: 0px;
$lay-offset-y: -191px;
$lay-width: 44px;
$lay-height: 40px;
$lay-total-width: 243px;
$lay-total-height: 231px;
$lay-image: 'sprite.png';
$lay: (0px, 191px, 0px, -191px, 44px, 40px, 243px, 231px, 'sprite.png', 'lay', );
$logo-name: 'logo';
$logo-x: 72px;
$logo-y: 0px;
$logo-offset-x: -72px;
$logo-offset-y: 0px;
$logo-width: 66px;
$logo-height: 56px;
$logo-total-width: 243px;
$logo-total-height: 231px;
$logo-image: 'sprite.png';
$logo: (72px, 0px, -72px, 0px, 66px, 56px, 243px, 231px, 'sprite.png', 'logo', );
$pen-hov-name: 'pen-hov';
$pen-hov-x: 139px;
$pen-hov-y: 0px;
$pen-hov-offset-x: -139px;
$pen-hov-offset-y: 0px;
$pen-hov-width: 49px;
$pen-hov-height: 49px;
$pen-hov-total-width: 243px;
$pen-hov-total-height: 231px;
$pen-hov-image: 'sprite.png';
$pen-hov: (139px, 0px, -139px, 0px, 49px, 49px, 243px, 231px, 'sprite.png', 'pen-hov', );
$pen-name: 'pen';
$pen-x: 82px;
$pen-y: 72px;
$pen-offset-x: -82px;
$pen-offset-y: -72px;
$pen-width: 49px;
$pen-height: 49px;
$pen-total-width: 243px;
$pen-total-height: 231px;
$pen-image: 'sprite.png';
$pen: (82px, 72px, -82px, -72px, 49px, 49px, 243px, 231px, 'sprite.png', 'pen', );
$search-name: 'search';
$search-x: 196px;
$search-y: 146px;
$search-offset-x: -196px;
$search-offset-y: -146px;
$search-width: 24px;
$search-height: 25px;
$search-total-width: 243px;
$search-total-height: 231px;
$search-image: 'sprite.png';
$search: (196px, 146px, -196px, -146px, 24px, 25px, 243px, 231px, 'sprite.png', 'search', );
$set-hov-name: 'set-hov';
$set-hov-x: 45px;
$set-hov-y: 146px;
$set-hov-offset-x: -45px;
$set-hov-offset-y: -146px;
$set-hov-width: 44px;
$set-hov-height: 44px;
$set-hov-total-width: 243px;
$set-hov-total-height: 231px;
$set-hov-image: 'sprite.png';
$set-hov: (45px, 146px, -45px, -146px, 44px, 44px, 243px, 231px, 'sprite.png', 'set-hov', );
$set-name: 'set';
$set-x: 139px;
$set-y: 95px;
$set-offset-x: -139px;
$set-offset-y: -95px;
$set-width: 44px;
$set-height: 44px;
$set-total-width: 243px;
$set-total-height: 231px;
$set-image: 'sprite.png';
$set: (139px, 95px, -139px, -95px, 44px, 44px, 243px, 231px, 'sprite.png', 'set', );
$spritesheet-width: 243px;
$spritesheet-height: 231px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($arr-hov, $arr-list, $arr-sl, $arr-tv, $cart, $case-hov, $case, $coun-1, $coun-2, $coun-3, $coun-4, $coun-5, $lay-hov, $lay, $logo, $pen-hov, $pen, $search, $set-hov, $set, );
$spritesheet: (243px, 231px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url('img/sprite/#{$sprite-image}');
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
