// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arr-hov-name: 'arr-hov';
$arr-hov-x: 0px;
$arr-hov-y: 57px;
$arr-hov-offset-x: 0px;
$arr-hov-offset-y: -57px;
$arr-hov-width: 40px;
$arr-hov-height: 73px;
$arr-hov-total-width: 210px;
$arr-hov-total-height: 130px;
$arr-hov-image: 'sprite.png';
$arr-hov: (0px, 57px, 0px, -57px, 40px, 73px, 210px, 130px, 'sprite.png', 'arr-hov', );
$arr-sl-name: 'arr-sl';
$arr-sl-x: 67px;
$arr-sl-y: 0px;
$arr-sl-offset-x: -67px;
$arr-sl-offset-y: 0px;
$arr-sl-width: 40px;
$arr-sl-height: 73px;
$arr-sl-total-width: 210px;
$arr-sl-total-height: 130px;
$arr-sl-image: 'sprite.png';
$arr-sl: (67px, 0px, -67px, 0px, 40px, 73px, 210px, 130px, 'sprite.png', 'arr-sl', );
$cart-name: 'cart';
$cart-x: 133px;
$cart-y: 95px;
$cart-offset-x: -133px;
$cart-offset-y: -95px;
$cart-width: 18px;
$cart-height: 25px;
$cart-total-width: 210px;
$cart-total-height: 130px;
$cart-image: 'sprite.png';
$cart: (133px, 95px, -133px, -95px, 18px, 25px, 210px, 130px, 'sprite.png', 'cart', );
$case-name: 'case';
$case-x: 158px;
$case-y: 0px;
$case-offset-x: -158px;
$case-offset-y: 0px;
$case-width: 52px;
$case-height: 36px;
$case-total-width: 210px;
$case-total-height: 130px;
$case-image: 'sprite.png';
$case: (158px, 0px, -158px, 0px, 52px, 36px, 210px, 130px, 'sprite.png', 'case', );
$lay-hov-name: 'lay-hov';
$lay-hov-x: 158px;
$lay-hov-y: 37px;
$lay-hov-offset-x: -158px;
$lay-hov-offset-y: -37px;
$lay-hov-width: 44px;
$lay-hov-height: 40px;
$lay-hov-total-width: 210px;
$lay-hov-total-height: 130px;
$lay-hov-image: 'sprite.png';
$lay-hov: (158px, 37px, -158px, -37px, 44px, 40px, 210px, 130px, 'sprite.png', 'lay-hov', );
$lay-name: 'lay';
$lay-x: 158px;
$lay-y: 78px;
$lay-offset-x: -158px;
$lay-offset-y: -78px;
$lay-width: 44px;
$lay-height: 40px;
$lay-total-width: 210px;
$lay-total-height: 130px;
$lay-image: 'sprite.png';
$lay: (158px, 78px, -158px, -78px, 44px, 40px, 210px, 130px, 'sprite.png', 'lay', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 66px;
$logo-height: 56px;
$logo-total-width: 210px;
$logo-total-height: 130px;
$logo-image: 'sprite.png';
$logo: (0px, 0px, 0px, 0px, 66px, 56px, 210px, 130px, 'sprite.png', 'logo', );
$pen-name: 'pen';
$pen-x: 108px;
$pen-y: 0px;
$pen-offset-x: -108px;
$pen-offset-y: 0px;
$pen-width: 49px;
$pen-height: 49px;
$pen-total-width: 210px;
$pen-total-height: 130px;
$pen-image: 'sprite.png';
$pen: (108px, 0px, -108px, 0px, 49px, 49px, 210px, 130px, 'sprite.png', 'pen', );
$search-name: 'search';
$search-x: 108px;
$search-y: 95px;
$search-offset-x: -108px;
$search-offset-y: -95px;
$search-width: 24px;
$search-height: 25px;
$search-total-width: 210px;
$search-total-height: 130px;
$search-image: 'sprite.png';
$search: (108px, 95px, -108px, -95px, 24px, 25px, 210px, 130px, 'sprite.png', 'search', );
$set-name: 'set';
$set-x: 108px;
$set-y: 50px;
$set-offset-x: -108px;
$set-offset-y: -50px;
$set-width: 44px;
$set-height: 44px;
$set-total-width: 210px;
$set-total-height: 130px;
$set-image: 'sprite.png';
$set: (108px, 50px, -108px, -50px, 44px, 44px, 210px, 130px, 'sprite.png', 'set', );
$spritesheet-width: 210px;
$spritesheet-height: 130px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($arr-hov, $arr-sl, $cart, $case, $lay-hov, $lay, $logo, $pen, $search, $set, );
$spritesheet: (210px, 130px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url('img/sprite/#{$sprite-image}');
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
