@media all and (max-width: 1000px){
   header{
     .inner-header{
       padding-top: 30px;
       display: block;
       .logo{
         position: absolute;
         left:50%;
         margin-left: -85px;
       }
       .btn-mob{
         display: inline-block;
       }
       nav{
         position: fixed;
         top: 0;
         left: 0;
         bottom: 0;
         width: 400px;
         transform: translateX(-100%);
         background-color: rgba(0,0,0, .5);
         z-index: 999;
         ul{
           display: block;
           li{

           }
         }
       }
       .buttons-box{
         float: right;

       }
     }
   }
}