@media all and (max-width: 1000px) {
  header {
    .inner-header {
      padding-top: 30px;
      display: block;
      .logo {
        position: absolute;
        left: 50%;
        margin-left: -85px;
      }
      .btn-mob {
        display: inline-block;
      }
      nav {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 400px;
        transform: translateX(-100%);
        background-color: rgba(0, 0, 0, .8);
        z-index: 999;
        max-height: 100%;
        overflow-y: auto;
        .inner-nav {
          padding-top: 70px;
          padding-left: 20px;
          padding-right: 20px;
          max-height: 100%;
          transform: translateX(0%);
          transition: .25s cubic-bezier(.62, .02, .37, .93);
          &.shift {
            transform: translateX(-100%);
          }
          .btn-rev {
            display: block;
          }
          ul {
            display: block;
            li {
              margin-right: 0;
              margin-bottom: 15px;
              border-bottom: 1px solid black;
              padding-bottom: 17px;
              .sub-level{
                display: block;
              }
              a{
                font-size: 20px;
                &.open-sub{
                  position: relative;
                  &:after{
                    content: '';
                    @include sprite($arr-mob);
                    position: absolute;
                    right: 0;
                    top:0;
                    transform: rotate(180deg);
                  }

                }
              }
            }
          }
        }
      }
      .buttons-box {
        float: right;
      }
    }
    .middle-header{
      top:90px;
      margin-top: initial;
      h1{
        font-size: 20px;
      }
      h2{
        font-size: 30px;
      }
      .btn-push{
        margin-top: 30px;
      }
    }
    .main-slider{
      height: 406px;
    }
  }
}